
<h1><?php echo __('Category') ?></h1>
<ul class="blog-post-list">

<?php foreach ($block->getCategories() as $category): ?>
    <li class="blog-post-list-item">
        <h3 class="blog-post-item-title">
            <a href=""><?php echo $category->getTitle() ?></a>
        </h3>

        <div class="blog-post-item-meta">
            <strong><?php echo __('Created at:') ?></strong> <?php echo $category->getCreationTime() ?>
        </div>
    </li>
<?php endforeach; ?>
</ul>

