<?php $product = $block->getCurrentProductId(); ?>

<?php if($block->isVisible()){?>
<?php 

if($block->getSwatchesCategoryType($block->getSwatchesCategory())[0] != NULL){
	$categoryType = $block->getSwatchesCategoryType($block->getSwatchesCategory());
}
 ?>

<div id="CustomSwatches" class="container hidden">


	<div class="col-md-3">
		<div id="CustomSwatchesDivWithForm" >

			<?php		
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
			$addToCartUrl =  $listBlock->getAddToCartUrl($product); ?>

			<form class="CustomSwatchesFormAddToCart product_addtocart_form_<?php echo($product->getId())?>" action="<?php echo $addToCartUrl; ?>" method="post" id="product_addtocart_form">
			    <div class="sizes">
			    <?php echo $block->getBlockHtml('formkey')?>
			    		<label for="width">Szerokość gotowej <?= ($categoryType == 1)? 'firanki': 'zasłony' ?> (cm)</label>
						<input id="width"  type="text" name="width" value="" placeholder="szerokość" disabled="" />
						<label for="height">Wysokość (cm)</label>
						<input id="height" type="text" name="height" value="" placeholder="wysokość" disabled="" />
						<label for="price">Cena</label>
						<input id="price" type="text" name="price" value="" disabled="" />
						<input id="materialId" type="hidden" name="materialId" value="<?= $product->getId()?>" />
						<input id="selectedSwatchId" type="hidden" name="selectedSwatchId" value="" />
						<input id="creases" type="hidden" name="creases" value="" />
						<input id="selectedSwatch" type="hidden" name="selectedSwatch" value="test" />
					    <input type="number"
					                       name="qty"
					                       id="quantity"
					                       maxlength=""
					                       value=""
					                       class="hidden"
					                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
					                       />
					</div>
			       <button type="submit"
					       	id="CustomSwatchesAddToCart"
			               title="Add to Cart"
			               class="action tocart primary disabled">
			               <span>Dodaj do koszyka</span>
			        </button>
			 </form>
		</div>
		 <span id="error" style="color: red;"></span>

	</div>

	<div class="CustomSwatches col-md-9">
		<?php foreach ($block->getSwatchesByCategory() as $swatch) { ?>

			<!-- <?php //foreach ($block->getMainSwatch($idSwatch ) as $swatch) { ?> -->

				<div style="background-image: url('<?= $block->getImg($swatch->getImg()) ?>')" data-id="<?= $swatch->getId() ?>" class="swatch col-md-4 col-sm-6  <?= $block->isSwatchHaveParent($swatch->getId()) ? 'parent' : 'click' ?>" id="swatch_<?= $swatch->getId() ?>">
					<div class="checkSwatch">
						<i class="fas fa-check"></i>
					</div>
				<div class="content">	
					<span data-title="<?= $swatch->getTitle() ?>" class="swatchTitle col-md-12">
						<?= $swatch->getTitle() ?> 
					</span>
					<span class="swatchCreases hidden" data-creases="<?= $swatch->getCreases() ?>">
					</span>
					<span class="swatchDescription">
						<?= $swatch->getDescription() ?> 
					</span>
					<?php if(!$block->isSwatchHaveParent($swatch->getId())){ ?>
						<span class="swatchPrice">
							<p id="swatchPrice_<?= $swatch->getId() ?>" data-id="<?= $swatch->getId() ?>">Cena za metr szycia: <?= $swatch->getPriceSewing() ?></p>
						</span>
					<?php } ?>
				</div>
				</div>

				<?php if($block->isSwatchHaveParent($swatch->getId())){ ?>
					<div class="swatchChild col-md-12 col-sm-12 hidden" id="swatchChild_<?= $swatch->getId() ?>">
						<div class="label col-md-12 col-sm-12">
							<label for="swatchChild_<?= $swatch->getId() ?>">
								<em class="CustomSwatchesColorLabel">*</em>
								<?= $swatch->getTitle() ?>
							</label>
						</div>
						<?php foreach ($block->getChildSwatch($swatch->getId()) as $parentSwatch) { ?>

						<div style="background-image: url('<?= $block->getImg($parentSwatch->getImg()) ?>')" class="swatchParent col-md-4  col-sm-6  click">
							<div class="checkSwatch">
								<i class="fas fa-check"></i>
							</div>
							<div class="content">
							<span data-title="<?= $parentSwatch->getTitle() ?>" class="swatchChildTitle col-md-12">
								<?= $parentSwatch->getTitle() ?>
							</span>

							<div class="swatchChildCreases hidden" data-creases="<?= $parentSwatch->getCreases() ?>">
								
							</div>
							<span class="swatchChildDescription">
								<?= $parentSwatch->getDescription() ?>
							</span>

							<span class="swatchChildPrice">
								<p id="swatchPrice_<?= $parentSwatch->getId() ?>"  data-id="<?= $parentSwatch->getId() ?>">Cena za metr szycia: <?= $parentSwatch->getPriceSewing() ?></p>
							</span>
						</div>
						</div>	

						<?php } ?>

					</div>

				<?php } ?>
				
<!-- 			<?php // } ?> -->

		<?php } ?>

	</div>

</div>




<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){

		$('#showCalculator').click(function(){
			makeFormDisabled();
			$('#CustomSwatches').toggleClass('hidden');
			$(window).scrollTop($('#CustomSwatches').offset().top -100), 'slow';
		})

	jQuery('#width').keyup(function () { 
	    this.value = this.value.replace(/[^0-9\.]/g,'');
	});

	jQuery('#height').keyup(function () { 
	    this.value = this.value.replace(/[^0-9\.]/g,'');
	});
		$('form.CustomSwatchesFormAddToCart').submit(function(e){
			if(!validation()){
				e.preventDefault();
				e.stopImmediatePropagation();
				return false;
			}
		})

		$('#width').change(function(){
			changeSize();
			validation();
		});

		$('#height').change(function(){
			changeSize();
			validation();
		});

		function changeSize()
		{
			height = $('#height').val();
			width =$('#width').val();
		}
	

 // $('.CustomSwatches').append($('.swatch.parent'));
 // $('.CustomSwatches').append($('.swatchChild'));

	var materialId = '<?= $product->getId()?>';
	var categoryType = '<?= $categoryType ?>';
	var swatchId;
	var swatchName;
	var height;
	var width;
	var creases;
	var summary;
	var maxHeight = <?= ($product->getCustomAttribute('max_height')) ?  intval($product->getCustomAttribute('max_height')->getValue()) : 25000  ?>;

	var maxWidth = <?= ($product->getCustomAttribute('max_width')) ?  intval($product->getCustomAttribute('max_width')->getValue()) : 25000  ?>;
	var widthWithCreases;
	var ajaxRequest=false;

	$(".CustomSwatches .swatch").click(function() {
		var idSwatch = $(this).data('id');
		if($(this).hasClass('parent')){
			makeFormDisabled();
			swatchId = '';
			selectedSwatch = '';
			price0 = '';
			$("#price").val(price0);
			$(this).addClass('active').siblings().removeClass('selected active');
			$('.swatchChild .swatchParent').removeClass('selected');
			
			

		}else{
			makeFormActive();
	    	$(this).addClass('selected').siblings().removeClass('selected active');
	    	 swatchId = $(this).find(".swatchPrice p").attr('data-id');
	    	 swatchName =  $(this).find(".swatchTitle").attr('data-title');
	    	 creases =  $(this).find(".swatchCreases").attr('data-creases');
	    	 	
		}

		if($(".CustomSwatches .parent").hasClass('active')){

			$(".swatchChild").addClass('hidden');
			$("#swatchChild_"+idSwatch).removeClass('hidden');

			$(".CustomSwatches .swatchChild .swatchParent").click(function() {
				makeFormActive();
		   		$(this).addClass('selected').siblings().removeClass('selected');
		   		
		   		swatchId = $(this).find(".content .swatchChildPrice p").attr('data-id');	
		   		swatchName = $(this).find(".content .swatchChildTitle").attr('data-title');
		   		creases =  $(this).find(".content .swatchChildCreases").attr('data-creases');

		   		$("#selectedSwatchId").val(swatchId);
		   		$("#selectedSwatch").val(swatchName);
		   		$("#creases").val(creases);
		   		validation();
		   		
	   		});

		}else{

			$(".swatchChild").addClass('hidden');
	   		$(".swatchParent").removeClass('selected');
	
		}

		height = $('#height').val();
		width =$('#width').val();
		$("#selectedSwatchId").val(swatchId);
	   	$("#selectedSwatch").val(swatchName);
	   	$("#creases").val(creases);	
	   	validation();		
	});

	function makeFormActive()
	{
		$("#width").removeAttr('disabled');
		$("#height").removeAttr('disabled');
		$('#CustomSwatchesDivWithForm').css('opacity', '1');
	}

	function makeFormDisabled()
	{
		$("#width").prop('disabled', true);
		$("#height").prop('disabled', true);
		$('#CustomSwatchesDivWithForm').css('opacity', '0.1');
	}

	function validation()
	{
		
	

		var error=false;

		if($('#width').val() > maxWidth ) {error = 'Szerokość nie może być większa niż '+maxWidth+' cm';}
		if($('#height').val() > maxHeight ){ error = 'Wysokośc nie może być większa niż '+maxHeight+' cm';}
		if($('#height').val() < 10){ error = 'Wysokość nie może być mniejsza niż 10 cm';}
		if($('#width').val() < 10 ){ error = 'Szerokość nie może być mniejsza niż 10 cm';}
		if($('#height').val() == '') {error = 'podaj wysokość';}
		if($('#width').val() == '' || $('#width').val().lenght == 0){ error = 'podaj szerokość';}
		if($('#selectedSwatchId').val() == '' || $('#selectedSwatchId').val() == '' ){ error = 'wybierz opcję';}
		if(categoryType == 2){
			widthWithCreases = (maxWidth-15)/creases;
			console.log(widthWithCreases);
			console.log(maxWidth);
			console.log(creases);
			if($('#width').val() > widthWithCreases){ error= 'Szerokość z opcją marszczenia x ' + creases + ' nie może być większa niż ' + 
				widthWithCreases.toFixed(2)+ 'cm' }
		}

		if(!error)
		{ 
			$('#CustomSwatchesAddToCart').removeClass('disabled');
			ajax(width, height, creases, materialId, swatchId);
			$('#error').text('');
			return true;
		}else{

				$('#CustomSwatchesAddToCart').addClass('disabled');
			price0 = '';
			$("#price").val(price0);
			$('#error').text(error);
			return false;
		}
	
		
	}



	function ajax(width, height, creases, materialId, swatchId, categorySwatchId)
	{
		var text;
        $('#CustomSwatchesAddToCart').removeClass('disabled');
            var param = 'height='+height+'&width='+width+'&creases='+creases+'&materialId='+materialId+'&swatchId='+swatchId;
                if (ajaxRequest){
                	ajaxRequest.abort();
                }
                ajaxRequest=$.ajax({
                    showLoader: true,
                    url: '/swatches/Api/Calc',
                    data: param,
                    type: "POST",
                    dataType: 'json'
                }).done(function (data) {
                	if (data.status=='OK'){
	                    $("#price").val(data.price.toFixed(2));
	                    $("#quantity").val(data.quantity);
	                }else{
	                	if (data.type=='qty'){

	                		if(data.quantity <= 4){
	                			text = 'metry';
	                		} else{
	                			text = 'metrów';
	                		}
	                		error = "Posiadamy tylko "+data.quantity+" "+text+" materiału. Jest to niewystarczająca ilość na uszycie Twojej konfiguracji."
	                		$('#error').text(error);
	                		// alert ("Posiadamy tylko "+data.quantity+" metrów. Nie możemy zrealizować takiego zamówienia.");
	                		$("#price").val(0);
	                    	$("#quantity").val(0);
	                    	$('#CustomSwatchesAddToCart').addClass('disabled');
	                	}
	                }
                });
        
	}
});
   
</script>
<?php }?>